<%= form_with(model: hack, local: true) do |form| %>
  <% if hack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hack.errors.count, "error") %> prohibited this hack from being saved:</h2>

      <ul>
      <% hack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='d-flex flex-row ab'>
  <div class="field ">
    <%= form.label :title ,class:'text-center' %>
    <%= form.text_area :title, :size=>"30" ,id: :hack_title %>
  </div>

  <div class="field">
    <%= form.label :description,class:'text-center'  %>
    <%= form.text_area :description, :size=>"30",id: :hack_description %>
  </div>

  <div class="field tag">
    <%= form.label :tags ,class:'text-center' %>
    <%= form.select(:tags, options_for_select([['DP','DP'],['BFS','BFS'],['DFS','DFS'],['Recursion','Recursion'],['Array','Array'],['String','String'],['Graph','Graph']]) , {}, {class: "btn btn  btn-lg dropdown-toggle"})%>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :hack_user_id, value: current_user.id, type: :hidden %>
  </div>
  
  <div class="field">
  <%= form.text_field :username,  value: current_user.username, type: :hidden  %>
  </div>
  

  <div class="actions ">
    <%= form.submit 'Create Challenge', :class => 'btn btn-primary'%>
  </div>
  </div>
<% end %>